<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bruce.net.cn</title>
</head>
<body>
<div>直播后台系统</div>
<!--左侧比赛实时信息输入-->
<!--右侧用户热线信息滚屏-->
<div>
    <!--比赛实时信息输入-->
    <div>
    </div>
    <!--用户热线信息滚屏-->
    <div id="chat-cont">
        <div class="chat-cont-wrap">
            <ul class="cont-class">
                <li>
                    <p>
                        <span class="name">bruce:</span>
                        <span class="message">message</span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>